﻿@charset "utf-8";
/* CSS Document */

:focus { outline: 0;}
html, body,  applet, object, iframe,h1, h2, h3, h4, h5, h6,
dl, dt, dd, ol, ul, li{ padding:0; margin:0; font-size:12px; line-height:100%; font-family:Microsoft Yahei, Arial, sans-serif;}
body { width:100%; height:100%; color:black; }
img {border:none;}
a {color:#000; text-decoration:none;}
a:hover {text-decoration:none;}
ul,li{ list-style-type:none;}
input,textarea, button,form, select,#search_cancel,.weui_search_outer {-webkit-tap-highlight-color:rgba(0,0,0,0);}
.same_day {-webkit-tap-highlight-color:rgba(0,0,0,0);}
.notsameday {-webkit-tap-highlight-color:rgba(0,0,0,0);}
#CalendarDiv tr td {-webkit-tap-highlight-color:rgba(0,0,0,0);}

.common_arrow_style{-webkit-transition: -webkit-transform 0.2s ease-out; -moz-transition: -moz-transform 0.2s ease-out; transition: transform 0.2s ease-out;}
.transform_right_icon{-webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); transform: rotate(90deg);}

.he1_con{line-height:1.5em;}
.he2_con{height:2em; line-height:2em;}
.he3_con{height:3em; line-height:3em;}
.he4_con{height:4em; line-height:4em;}
.he5_con{height:2.5em; line-height:2.5em;}
.normal_data_icon_out{padding:4px; margin-top:3px; margin-right:10px; float:left; border-radius:50px; background-color:#6ACF81;}
.abnormal_data_icon_out{padding:4px; margin-top:3px; margin-right:10px; float:left; border-radius:50px; background-color:red;}
.data_icon_in{border-radius:50px; background-color:#fff; width:5px; height:5px;}

.attendance_header_content{background-color:#7CD28F; color:#fff; padding-left:1em;}
.attendance_card_content{overflow:hidden; width:100%; padding-top:1em; padding-bottom:1em; background-color:#fff;}
.attendance_cardIn{width:80px; height:80px; float:left; border-radius:50px; box-shadow: 0.1px 2px 8px #e4e4e4; background-color:#fff; padding:5px; margin-left:1em;}
.attendance_cardOut{width:80px; height:80px; float:right; border-radius:50px; box-shadow: 0.1px 2px 8px #e4e4e4; background-color:#fff; padding:5px; margin-right:1em;}
.attendance_cardIn_bg{width:100%; height:100%; border-radius:50px; background-color:#79D18C; opacity:0.8; text-align:center; vertical-align:middle; color:#fff;}
.attendance_cardOut_bg{width:100%; height:100%; border-radius:50px; background-color:#2888E4; opacity:0.5; text-align:center; vertical-align:middle; color:#fff;}
.attendance_take_image{width:35%; margin-left:auto; margin-right:auto; height:3em; line-height:3em; background-color:#fff;  color:#2888E4; font-size:14px; opacity:0.5; box-shadow: 0.1px 2px 8px #d7d7d7; border-radius:5em;}
.attendance_card_data_content{width:90%; border-radius:10px; background-color:#f4f6f8; margin-left:auto; margin-right:auto; margin-bottom:10px; padding:10px;}

.attendance_connect{height:4em; width:100%; background-color:#fff; border-top:solid 1px #f0f0f0; position:fixed; bottom:0;}
.attendance_tab{width:49%; height:2em; line-height:2em; margin-top:1em; float:left; text-align:center;}
.approval_tab{width:33%; height:2em; line-height:2em; margin-top:1em; float:left; text-align:center;}
.approval_tab1{width:24%; height:2em; line-height:2em; margin-top:1em; float:left; text-align:center;}
.top_tab{width:50%; height:3em; line-height:3em; padding:0; margin:0; border-bottom:solid 2px #ddd; display:inline-block; text-align:center;}

.attendance_time_control{font-size:1.2em; background-color:#fff;}
.attendance_time_control td{line-height:40px; height:40px;}
.attendance_time_control .nomal{width:22px; height:22px; line-height:22px; margin-left:auto; margin-right:auto; border-radius:50px; background-color:#6ACF81; color:#fff; }
.attendance_time_control .abnomal{width:22px; height:22px; line-height:22px; margin-left:auto; margin-right:auto; border-radius:50px; background-color:#ff6347; color:#fff; }


.common_select_button{background:none; border:none; position:absolute; left:0; height:30px; font-size:1.2em; padding-right:30px;  z-index:-1; border-radius:0; margin-top:-2px;}

.icon_transform{-moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); }


.tipbody{background-color:#fff;}
.tipheader{ background-color: #7FD191;padding-top: 1em;padding-bottom: 1em;color: white; padding-left: 0.5em; }      
.tipitem{ border-bottom: 1px solid #ddd;line-height: 2em;margin-left:20px; margin-right:20px; }

.tipheader{background-color: #7FD191;padding-top: 1em;padding-bottom: 1em;color:white;padding-left: 0.5em; font-size:1em;} 
.noticeitem{margin-top:1em; margin-left:1em; margin-right:1em; padding: 0.8em;border-radius:8px;background-color: #7FD191;color:white;line-height: 1.3em; font-size:1em;}
